<div ng-cloak>
    <ion-view view-title="New WOD">
        <ion-nav-bar class="bar-calm">
            <ion-nav-buttons side="left">
                <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
            </ion-nav-buttons>
            <ion-nav-back-button>
            </ion-nav-back-button>
            <!--<ion-nav-buttons side="right">
                <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
            </ion-nav-buttons>-->
        </ion-nav-bar>
        <ion-tabs tabs-type="tabs-striped">
            <ion-tab title="Movements" class="footer-wod">
                <ion-nav-view>
                    <ion-view>
                        <ion-content has-header="true">
                            <ion-list>
                                <div class="row">
                                    <ion-item class="col item-padding item-calm">
                                        <h2 class="movement-name text-center text-light" ng-if="nw.wod.movements.length === 0">No Movements</h2>
                                        <h2 class="movement-name text-center text-light" ng-if="nw.wod.movements.length === 1">One Movement</h2>
                                        <h2 class="movement-name text-center text-light" ng-if="nw.wod.movements.length > 1">{{nw.wod.movements.length}} Movements</h2>
                                    </ion-item>
                                    <button class="col-25 button button-assertive button-full update-text pull-right no-padding" style="margin: -1px !important;"
                                    ng-click="nw.clearWOD()" ng-if="nw.wod.movements.length > 0">Clear</button>
                                </div>
                                <ion-item class="item item-checkbox" ng-repeat="mId in nw.mL" ng-click="nw.toggleWOD(mId)">
                                    <label class="checkbox checkbox-calm">
                                        <input type="checkbox" ng-model="nw.m[mId.id].wod">
                                    </label>
                                    {{nw.m[mId.id].name}}
                                </ion-item>
                            </ion-list>
                        </ion-content>
                    </ion-view>
                </ion-nav-view>
            </ion-tab>
            <ion-tab title="Settings" class="footer-wod">
                <ion-nav-view>
                    <ion-view>
                        <ion-content has-header="true">
                            <form ng-submit="nw.saveWOD()">
                                <div class="card" ng-if="nw.wod.movements.length === 0">
                                    <div class="item item-text-wrap">
                                        Your WOD has no movements... Go back to the "Movements" tab and tap to add.
                                    </div>
                                </div>
                                <div class="card" ng-if="nw.wod.movements.length > 0 && nw.wod.unique">
                                    <div class="item item-text-wrap text-center">
                                        <i>Saving WODs allows you to use them again later.</i>
                                    </div>
                                </div>
                                <div class="card" ng-if="nw.wod.movements.length > 0 && !nw.wod.unique && nw.saveSuccess">
                                    <div class="item item-balanced item-text-wrap text-center">
                                        <i>Saved this WOD as '{{nw.wod.name}}'</i>
                                    </div>
                                </div>
                                <div class="card" ng-if="nw.wod.movements.length > 0 && !nw.wod.unique && !nw.saveSuccess">
                                    <div class="item item-calm item-text-wrap text-center">
                                        <i>This WOD is already saved as '{{nw.wod.name}}'</i>
                                    </div>
                                </div>
                                <ion-list ng-if="nw.wod.movements.length > 0">
                                    <form name="saveWODForm" novalidate="" ng-submit="saveWOD()">
                                        <ion-item class="item-padding item" ng-if="nw.wod.movements.length > 0 && nw.wod.unique">
                                            <div class="list">
                                                <label class="item item-input" ng-class="{ 'has-error' : !nw.nameUnique && nw.wod.movements.length > 0 && nw.wod.unique && (nw.wod.name.length > 0 || nw.formSubmitAttempt)}">
                                                    <span class="input-label">WOD Name</span>
                                                    <input type="text" name="name" ng-model="nw.wod.name" ng-change="nw.checkName()" ng-disabled="nw.wod.movements.length === 0 || !nw.wod.unique">
                                                </label>
                                                <span class="item item-padding form-error text-center" ng-if="!nw.nameUnique && nw.formSubmitAttempt && nw.wod.name.length < 1">A name is required</span>
                                                <span class="item item-padding form-error text-center" ng-if="!nw.nameUnique && nw.wod.name.length > 0">That name is taken</span>
                                            </div>
                                        </ion-item>
                                        <ion-item class="item-padding item" ng-repeat="movement in nw.wod.movements">
                                            <div class="row">
                                                <div class="col text-center" ng-click="mi.openOptionSheet()">
                                                    <h1 class="movement-name">{{movement.name}}</h1>
                                                </div>
                                            </div>
                                            <div class="list">
                                                <label class="item item-input item-select">
                                                    <span class="input-label">Goal Reps</span>
                                                    <select name="repSelect" id="repSelect" ng-options="option.name for option in nw.repOptions track by option.value" ng-model="movement.conditioning"
                                                    ng-change="nw.updateWodItem(movement.id, movement.conditioning)"></select>
                                                </label>
                                                <label class="item item-input">
                                                    <span class="input-label">Rx</span>
                                                    <input type="number" pattern="[0-9]*" inputmode="numeric" class="width-full" ng-model="movement.rx">
                                                </label>
                                            </div>
                                        </ion-item>
                                    </form>
                                </ion-list>
                                <div class="row" ng-if="nw.wod.movements.length > 0">
                                    <button class="button button-assertive col item-padding button-full update-text" ng-click="nw.clearWOD()">Clear</button>
                                    <button type="submit" class="button button-calm col col-67 item-padding button-full update-text" ng-if="nw.wod.unique" ng-click="nw.saveWOD()">Save</button>
                                    <button class="button button-balanced col col-67 item-padding button-full update-text" ng-if="!nw.wod.unique" ng-click="nw.goToWOD()">Go to WOD</button>
                                </div>
                            </form>
                        </ion-content>
                    </ion-view>
                </ion-nav-view>
            </ion-tab>
            <!--<ion-tab title="Save" ng-click="nw.saveWOD()" ng-if="nw.wod.unique" class="footer-wod">
            </ion-tab>
            <ion-tab title="Go to WOD" ng-click="nw.goToWOD()" ng-if="!nw.wod.unique" class="footer-wod">
            </ion-tab>-->
        </ion-tabs>
    </ion-view>
</div>