<div ng-cloak>
<ion-view view-title="Disclaimer">
    <ion-content class="disclaimer">
        <div class="row" ng-if="dc.disclaimerAgreed">
            <div class="col">
                <h2>I have agreed that...</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>I am aware that there are significant risks involved in all aspects of physical training. I understand that the reaction of the heart, lungs and vascular system to exercise cannot always be predicted with accuracy. I understand that there is a risk of certain abnormal changes occurring during or following exercise which may include abnormalities of blood pressure or heart rate; chest, arm or leg discomfort; transient light-headedness or fainting; and in rare instances, heart attack, stroke or even death. These risks include, but are not limited to: falls which can result in serious injury or death, injury or death due to negligence on the part of myself, my training partner, or other people around me, injury or death due to improper use or failure of equipment. I am aware that any of these above mentioned risks may result in serious injury or death to myself and or my partner(s).</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>I willingly assume full responsibility for any and all risks that I am exposing myself to as a result of my use of WODRight and accept full responsibility for any injury or death that may result from participation in any activity, class or physical fitness program. I hereby certify that I know of no medical problems that would increase my risk of illness and injury as a result of using the WODRight program’s recommendations. With my full understanding of the above information, I agree to assume any and all risk associated with my use of WODRight.</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>By clicking agree to this document, I assume all risk for my health and wellbeing and hold WODRight, as well as its owners, employees, and other authorized agents including independent contractors, harmless therefrom.</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>I fully understand that my personal exercise program may be strenuous and I choose to participate voluntarily. I accept all responsibility for my health and any results, injury or mishaps that may affect my well-being or health in any way. I waive any claims, demands, causes of action or any claims for relief whatsoever against, and release the creators of WODRight from any and all liability, claims and/or causes of action that I may have for injuries or other damages, arising out of use of the WODRight program recommendations.</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>I have fully read and fully understand the foregoing assumption of risk, and release of liability and I understand that by agreeing to this document it obligates me to indemnify the parties named for any liability for injury or death of any person and damage to property caused by my negligent or intentional act or omission. I understand that by signing this form I am waiving valuable legal rights. I have carefully read this Agreement and fully understand its contents. I am aware that this is a release and waiver of liability and agree to it knowingly, voluntarily, and of my own free will.</p>
            </div>
        </div>
        <div class="row" ng-if="!dc.disclaimerAgreed">
            <div class="col">
                <button class="button button-energized width-full" ng-click="dc.agreed()">I Agree</button>
            </div>
        </div>
    </ion-content>
</ion-view>
</div>