<div ng-click="wi.openOptions()">
	<div class="row">
		<div class="col">
			<h2 class="movement-name">{{wi.item.name}}</h2>
		</div>
	</div>
	<div ng-repeat="movement in wi.item.movements" ng-class="{'history-direct':movement.active.source==='direct','history-estimate':movement.active.source==='estimate','history-indirect':movement.active.source==='indirect'}">
		<div class="row">
			<div class="col col-50">{{movement.name}}</div>
			<div class="col text-center">{{movement.active.mod.name}} reps</div>
		</div>
		<div class="row">
			<div class="col text-center" ng-if="movement.rx > 0">
				Rx: <span ng-class="{'rec-badge':movement.rx < movement.active.low, 'rec-badge-balanced':movement.rx < movement.active.low && movement.active.source==='direct', 'rec-badge-energized':movement.rx < movement.active.low && movement.active.source==='indirect', 'rec-badge-calm':movement.rx < movement.active.low && movement.active.source==='estimate'}">{{movement.rx | number:1}}</span>
			</div>
			<div class="col text-center" ng-if="movement.rx <= 0 || !movement.rx">
				No Rx
			</div>
			<div class="col text-center" ng-if="movement.active.source !== 'none'">
				Rec: <span ng-class="{'rec-badge':movement.rx >= movement.active.low, 'rec-badge-balanced':movement.rx >= movement.active.low && movement.active.source==='direct', 'rec-badge-energized':movement.rx >= movement.active.low && movement.active.source==='indirect', 'rec-badge-calm':movement.rx >= movement.active.low && movement.active.source==='estimate'}">{{movement.active.low | number:1}} - {{movement.active.high | number:1}}</span>
			</div>
			<div class="col text-center" ng-if="movement.active.source === 'none'">
				Rec: No Data
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col text-center" ng-if="wi.item.history.length === 0">
			Never Logged
		</div>
		<div class="col text-center" ng-if="wi.item.history.length >= 1">
			Last Completed: {{wi.item.history[0].date | date:'medium'}}
		</div>
	</div>
</div>