<div ng-cloak>
    <ion-view view-title="Maxes">
        <ion-nav-bar class="bar-royal">
            <ion-nav-buttons side="left">
                <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
            </ion-nav-buttons>
            <!--<ion-nav-buttons side="right">
                <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
            </ion-nav-buttons>-->
        </ion-nav-bar>
        <ion-tabs tabs-type="tabs-striped">
            <!--<ion-tab title="All">
                <ion-nav-view>
                    <ion-view>
                        <ion-content has-header="true">
                            <ion-list>
                                <div ng-repeat="movement in max.mL | filter:{'family':''}">
                                    {{movement}}
                                </div>
                            </ion-list>
                        </ion-content>
                    </ion-view>
                </ion-nav-view>
            </ion-tab>-->
            <ion-tab title="Squat" class="footer-conditioning">
                <ion-nav-view>
                    <ion-view>
                        <ion-content has-header="true" padding="true">
                            <ion-list>
                                <div ng-repeat="movement in max.mL | filter:{'family':'Squats'}">
                                    <!--{{movement}}-->asdf
                                </div>
                            </ion-list>
                        </ion-content>
                    </ion-view>
                </ion-nav-view>
            </ion-tab>
            <ion-tab title="Press" class="footer-conditioning">
                <ion-nav-view>
                    <ion-view>
                        <ion-content has-header="true" padding="true">
                            <ion-list>
                                <div ng-repeat="movement in max.mL | filter:{'family':'Presses'}">
                                    {{movement}}
                                </div>
                            </ion-list>
                        </ion-content>
                    </ion-view>
                </ion-nav-view>
            </ion-tab>
            <ion-tab title="Pull" class="footer-conditioning">
                <ion-nav-view>
                    <ion-view>
                        <ion-content has-header="true" padding="true">
                            <ion-list>
                                <div ng-repeat="movement in max.mL | filter:{'family':'Pulls'}">
                                    {{movement}}
                                </div>
                            </ion-list>
                        </ion-content>
                    </ion-view>
                </ion-nav-view>
            </ion-tab>
            <ion-tab title="Misc" class="footer-conditioning">
                <ion-nav-view>
                    <ion-view>
                        <ion-content has-header="true" padding="true">
                            <ion-list>
                                <div ng-repeat="movement in max.mL | filter:{'family':'Misc'}">
                                    {{movement}}
                                </div>
                            </ion-list>
                        </ion-content>
                    </ion-view>
                </ion-nav-view>
            </ion-tab>
        </ion-tabs>
        <!--<ion-content>
            <ion-list>
                <div ng-repeat="movementId in max.mL track by $index">
                    <wr-movement-item save-changes="true" item="max.m[movementId]" movement-refresh="max.movementRefresh()" mode="conditioning"></wr-movement-item>
                </div>
            </ion-list>
        </ion-content>-->
    </ion-view>
</div>
