<ion-item class="item item-padding" ng-class="{'history-direct':mi.itemClass==='direct','history-estimate':mi.itemClass==='estimate','history-indirect':mi.itemClass==='indirect'}">
    <div class="row">
        <div class="col text-center" ng-click="mi.openOptionSheet()">
            <h1 class="movement-name">{{mi.item.name}}</h1>
        </div>
    </div>
    <div class="row" ng-if="mi.updateButton">
        <button class="button button-calm col update-text" ng-click="mi.updateMovement()">Update One Rep Max
        </button>
    </div>
    <div class="row" ng-if="!mi.updateButton">
        <div class="col col-66" ng-click="mi.openOptionSheet()">
            <div class="row text-center rec-section">
                <span ng-class="mi.itemClass" class="rec">{{mi.active.low | number:1}} - {{mi.active.high | number:1}}</span>
            </div>
        </div>
        <div class="col col-33 mod-box">
            <button class="button text-center mod-button" ng-click="mi.openModSheet()">{{mi.active.mod.name}}
            </button>
        </div>
        <div class="col col-33 mod-box">
        </div>
    </div>
    <div class="row" ng-if="!mi.updateButton">
        <div class="col col-66" ng-click="mi.openOptionSheet()">
            <div class="row" ng-click="mi.openOptionSheet()" ng-if="!mi.updateButton">
                <h3 ng-class="mi.itemClass">{{mi.itemDate | date}} {{mi.footer}}</h3>
            </div>
        </div>
        <div class="col col-33 mod-box" ng-click="mi.openOptionSheet()">
            <h2 ng-if="mi.mode==='strength'" class="mod-type text-center">{{mi.item.modType}}</h2>
            <h2 ng-if="mi.mode==='conditioning'" class="mod-type text-center">Goal Reps</h2>
        </div>
    </div>
</ion-item>